{% extends 'home/base.html' %}

{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <h3 class="d-flex align-items-center">Bienvenido {{ user.username }}
            {% if user.vendedor.avatar.url %}
                <img src="{{ user.vendedor.avatar.url }}" alt="Avatar" style="height: 10px;" /> 
            {% else %}
                <img src="{% static 'venta/avatares.png' %}" alt="avatar" style="height: 30px;" />
            {% endif %}  
        </h3>
    {% endif %}
    {% if messages %}{{ messages }}{% endif %}
    {% if user.is_staff %}
        <div class="row">
            <a href="{% url 'admin:index' %}" class="btn btn-outline-dark">Administración</a>
        </div>
        <div class="row">
            <a href="{% url 'home:register' %}" class="btn btn-outline-dark">Registrar nuevo vendedor</a>
        </div>
    {% endif %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'home/img/la_ultima_copa.jpg' %}" alt="Presentación" />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">La Ultima Copa</h1>
            <p>
                La Ultima Copa es la que cuetan los enologos que es la mejor copa de vino.   
            </p>
            <a class="btn btn-info" href="https://wa.me/5492616587989">WhatsApp</a>
        </div>
    </div>
{% endblock content %}
