{% extends 'home/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>Bienvenido {{ user.username }} {{vendedor.avatar}} </h3>
        {{ mensaje }}
    {% endif %}
    {% if user.is_staff %}
        <div class="row">
            <a href="{% url 'admin:index' %}" class="btn btn-outline-dark">Administración</a>
        </div>
        <div class="row">
            <a href="{% url 'home:register' %}" class="btn btn-outline-dark">Registrar nuevo vendedor</a>
        </div>
    {% endif %}
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7">
            <img class="img-fluid rounded mb-4 mb-lg-0"
                 src="https://media.istockphoto.com/id/621109162/es/foto/close-up-concepto-de-tarjeta-de-felicitaci%C3%B3n-del-tesoro-de-pecho-vintage-abierto.jpg?s=612x612&w=0&k=20&c=dtILFNpuBp4AxBDxaYVcGOg1sWLd2p3DHRqdmSWyHtw="
                 alt="..." />
        </div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">La Caja de Pandora</h1>
            <p>
                La Caja de Pandora es un lugar mágico donde tus sueños se hacen realidad.
                Nuestro catálogo está lleno de tesoros y maravillas esperando a ser
                descubiertos por nuestros clientes más aventureros.
            </p>
            <a class="btn btn-info" href="https://wa.me/5492619999999">WhatsApp</a>
        </div>
    </div>
{% endblock content %}
