{% extends 'producto/index.html' %}

{% block content_producto %}

    {% block search %}{% endblock %}
    {% block list %}
        <div class="container">
            <table class="table">
                <thead>
                    {% block table_header %}
                    {% endblock table_header %}
                </thead>
                <tbody>
                    {% block table_body %}
                    {% endblock table_body %}
                </tbody>
            </table>
        </div>
        <p class="mt-5 fw-semibold text-center">Total de productos: {{ object_list | length }}</p>
        {% url 'producto:index' as url %}
        {% include 'home/index_back.html' with link=url %}
    {% endblock list %}


{% endblock content_producto %}
