{% extends 'producto/index.html' %}

{% block content_producto %}

    <h2>Lista de Categorías de Productos</h2>

    {% for categoria in object_list %}
        <ul>
            <li>{{ categoria }}
                <a href="{% url 'producto:productocategoria_update' categoria.id %}" class="btn btn-primary">Actualizar</a>
                <a href="{% url 'producto:productocategoria_delete' categoria.id %}" class="btn btn-danger">Eliminar</a>
            </li>
        </ul>
    {% endfor %}

    <a href="{% url 'producto:index' %}">Volver a índice de Producto</a>

{% endblock content_producto %}